# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List of popular languages for Data Science
* List of commonly used libraries for Data Science
* List of Development Environment and Tools for Data Science
* How to use arithmetic operators in Jupyter Notebook
* Simple arithmetic expression to multiply

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. Scala
5. Julia
6. C++
7. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Seaborn
4. Matplotlib
5. Tensorflow
6. Keras
7. Scikit-learn
8. Pytorch
9. Vegas
10. Big DL
11. ggplot2
12. Apache Spark

| Data Science Tools |
| --- |
| Jupyter |
| RStudio |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.

200 / 60

3.3333333333333335

## Author
Shaheryar Yousaf